openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
  - url: http://localhost:8080
    description: Generated server url
paths:
  /users:
    get:
      tags:
        - user-controller
      operationId: readUsers
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserDto'
    put:
      tags:
        - user-controller
      operationId: updateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatedUserDto'
        required: true
      responses:
        '200':
          description: OK
    post:
      tags:
        - user-controller
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDto'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDto'
    delete:
      tags:
        - user-controller
      operationId: deleteUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdDto'
        required: true
      responses:
        '204':
          description: No Content
  /cards:
    get:
      tags:
        - card-controller
      operationId: readCards
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CardDto'
    put:
      tags:
        - card-controller
      operationId: updateCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatedCardDto'
        required: true
      responses:
        '200':
          description: OK
    post:
      tags:
        - card-controller
      operationId: createCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDto'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CardDto'
    delete:
      tags:
        - card-controller
      operationId: deleteCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdDto'
        required: true
      responses:
        '204':
          description: No Content
  /user_cards/transfer:
    post:
      tags:
        - user-card-controller
      operationId: transferMoney
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferDto'
        required: true
      responses:
        '200':
          description: OK
  /user_cards/block:
    post:
      tags:
        - user-card-controller
      operationId: blockCardRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdDto'
        required: true
      responses:
        '200':
          description: OK
  /user_cards/block-requests:
    get:
      tags:
        - user-card-controller
      operationId: readBlockCardRequests
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockCardRequestDto'
    post:
      tags:
        - user-card-controller
      operationId: blockCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdDto'
        required: true
      responses:
        '200':
          description: OK
  /auth/sign-in:
    post:
      tags:
        - auth-controller
      operationId: signIn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCredentialsDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtAuthenticationDto'
  /auth/refresh:
    post:
      tags:
        - auth-controller
      operationId: refresh
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtAuthenticationDto'
  /user_cards:
    get:
      tags:
        - user-card-controller
      operationId: readUserCards
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CardDto'
  /user_cards/card:
    get:
      tags:
        - user-card-controller
      operationId: readUserCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CardDto'
components:
  schemas:
    UpdatedUserDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
          minLength: 1
        email:
          type: string
          pattern: \w+@\w+\.\w+
        password:
          type: string
          minLength: 1
        roles:
          type: string
          minLength: 1
      required:
        - id
        - password
        - roles
        - username
    UpdatedCardDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        cardNumber:
          type: string
          pattern: ^\d{4} \d{4} \d{4} \d{4}$
        userId:
          type: integer
          format: int64
        expirationDate:
          type: string
          format: date
        cardStatus:
          type: string
          enum:
            - ACTIVE
            - BLOCKED
            - EXPIRED
        balance:
          type: number
      required:
        - id
    UserDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
          minLength: 1
        email:
          type: string
          pattern: \w+@\w+\.\w+
        password:
          type: string
          minLength: 1
        roles:
          type: string
          minLength: 1
      required:
        - email
        - password
        - roles
        - username
    TransferDto:
      type: object
      properties:
        fromCardNumber:
          type: string
          pattern: ^\d{4} \d{4} \d{4} \d{4}$
        toCardNumber:
          type: string
          pattern: ^\d{4} \d{4} \d{4} \d{4}$
        amount:
          type: number
      required:
        - amount
        - fromCardNumber
        - toCardNumber
    IdDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
      required:
        - id
    CardDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        cardNumber:
          type: string
          pattern: ^\d{4} \d{4} \d{4} \d{4}$
        userId:
          type: integer
          format: int64
        expirationDate:
          type: string
          format: date
        cardStatus:
          type: string
          enum:
            - ACTIVE
            - BLOCKED
            - EXPIRED
        balance:
          type: number
      required:
        - balance
        - cardNumber
        - expirationDate
        - userId
    UserCredentialsDto:
      type: object
      properties:
        email:
          type: string
          pattern: \w+@\w+\.\w+
        password:
          type: string
          minLength: 1
      required:
        - email
        - password
    JwtAuthenticationDto:
      type: object
      properties:
        token:
          type: string
        refreshToken:
          type: string
    RefreshTokenDto:
      type: object
      properties:
        refreshToken:
          type: string
      required:
        - refreshToken
    BlockCardRequestDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        cardId:
          type: integer
          format: int64
        requestDate:
          type: string
          format: date-time
        processed:
          type: boolean
